<h1>Login</h1>

<%if !flash.nil?%>
  <%if flash.has?(:message)%>
    <%=flash[:message]%>
  <%end%>
<%end%>

<%unless locals.empty?%>
  <%=message%>
<%end%>  

</div>

<form action="/login" method="POST">
  <p>
    <label for="email">E-Mail Address</label>
    <input type="text" name="email" id="email">
  </p>

  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </p>

  <input type="submit" value="Submit"> 
</form>