<h1>Create a new User</h1>

<form>
  <p>
  <bundle>Name:</bundle>
  <input type="text" name="name">
  </p>

  <p>
  <bundle>Email Address:</bundle>
  <input type="text" name="email">
  </p>

  <p>
  <bundle>Password:</bundle>
  <input type="password" name="password">
  </p>

  <input type="submit">
</form>