<h1>Create a new User</h1>

<form action="/signup" method="POST">
  <p>
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  </p>

  <p>
  <label for="email">Email Address:</label>
  <input type="email" name="email" id="email">
  </p>

  <p>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password">
  </p>

  <input type="submit" value="Create new User">
</form>