<h1>Tags List</h1>

<%@tags.each do |tag|%>
  <li>
    <ul>
      <p>
        <div class="chip">
          <a href="/tags/<%=tag.slug%>"><%=tag.name%></a>
          <i class="material-icons">close</i>
        </div>  
      </p>
    </ul> 
  </li>
 <%end%> 