<h1>Post List</h1>

<%@posts.each do |post|%>
  <li>
    <ul>
      <p>
        <div class="collection">
          <a href="/posts/<%=post.slug%>" class="collection-item"><%=post.title%></a>
        </div>  
      </p>
    </ul> 
  </li>
 <%end%> 
