<h1>Create a new Post</h1>


<form action="/posts" method="POST">
  <p>
    <label>Post Title</label>
    <input type="text" name="post[title]"/>
  </p>

  <p>
    <label>Post Content</label>
    <TEXTAREA NAME="post[content]" rows="10" cols="100"></TEXTAREA>
  </p>

  </br>
  <ul>
    <label>Tags:</label>
    </br>
    </br>
    <%@tags.each do |tag|%>
      <li>
        <input type="checkbox" id="tag" name="post[tag_ids][]" value="<%=tag.id%>"><%=tag.name%> 
        <label for="tag"></label>
      </li>
    <%end%> 


    </br>   
    <li>Other: <input type="text" name="post[tags_to_add_by_name]"></li> 
  </ul>

  </br>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right"></i>
  </button>
</form>